@media screen and (max-width: 768px) {
    
    body {
        overflow-x: hidden;
    }
    
    .overall-information {
        font-size: 0.8rem;
        flex-direction: column;
    }

    .titles-information {
        margin-top: 15px;
    }

    .middle-name {
        font-size: 3.5rem !important;
    }

    .family-name {
        font-size: 3.5rem !important;
        margin-top: -2px !important;
    }

    .image-landing-eliza {
        width: 80% !important;
    }

    .personal-info-about-me {
        position: absolute;
        width: 15rem !important;
        right: 0 !important;
    }

    .more-general-info {
        margin-top: 10px !important;
        font-size: 0.7rem !important;
        margin-right: 0 !important;
        margin-left: 100px !important;
    }

    .main-titles-container {
        justify-content: center;
        margin-top: 15rem !important;
    }

    .main-title-1 {
        font-size: 2.8rem !important;
    }

    .main-title-2 {
        font-size: 2.8rem !important;
        margin-top: -5px !important;
    }

    .image-title-landing {
        width: 7rem !important;
    }

    .svg-landing {
        width: 5rem !important;
        margin-top: -40px !important;
        margin-left: -40px !important;
    }

    .social-media-links {
        margin-top: 10px !important;
    }

    .image-social {
        width: 1.2rem !important;
    }
}